/* Features */
.features {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#031027)
  );
  padding: 4.5rem;
  border-radius: 2rem;
  margin-top: -6%;
  margin-bottom: 2.5rem;
  z-index: 3;
  position: relative;
}

.features .section__title {
  color: var(--white-color);
}

.features__container {
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.features__card {
  padding: 2rem;
  border-radius: 24px;
  background: linear-gradient(90deg, #031027 0%, #051733 100%);
  text-align: center;
  cursor: pointer;
}

.features__icon i {
  opacity: 0.3;
  font-size: var(--biggest-fs);
  margin-bottom: var(--m-2);
}

.features__title {
  margin-bottom: var(--m-1);
  color: var(--white-color);
}

.features__description {
  color: var(--white-color);
  opacity: 0.3;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .features__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 586px) {
  .features__container {
    grid-template-columns: 1fr;
  }
  .features {
    padding: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .features__container {
    grid-template-columns: 1fr;
  }
  .features {
    padding: 2rem 1.5rem 1.5rem;
  }
}
