/* Reusable CSS */
.section {
  padding: 4.5rem 0 4.5rem;
}

.section__title {
  font-family: 'Exo 2';
  font-size: var(--big-fs);
  text-align: left;
  color: var(--dark-color);
  margin-bottom: var(--m-2);
  font-weight: var(--bold-fw);
}

.section__subtitle {
  font-size: var(--small-fs);
  font-weight: var(--semiBold-fw);
  color: var(--first-color);
  margin-bottom: var(--m-0-5);
  display: block;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--first-color);
  padding: 0.5rem 1.2rem;
  border-radius: 16px;
  font-weight: var(--regular-fw);
  color: var(--white-color);
  transition: 0.1s;
  font-family: 'Exo 2';
}

.button__icon {
  font-size: var(--regular-fs);
  font-weight: var(--extraLight-fw);
  opacity: 0.7;
}

.button:hover {
  background-color: var(--first-color-alt);
}
