/* Reusable CSS */
.section {
  padding: 4.5rem 0 4.5rem;
}

.section__title {
  font-family: 'Exo 2';
  font-size: var(--big-fs);
  text-align: left;
  color: var(--white-color);
  margin-bottom: var(--m-2);
  font-weight: var(--bold-fw);
}

.section__subtitle {
  font-size: var(--small-fs);
  font-weight: var(--semiBold-fw);
  color: var(--first-color);
  margin-bottom: var(--m-0-5);
  display: block;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--first-color);
  padding: 0.5rem 1.2rem;
  border-radius: 16px;
  font-weight: var(--regular-fw);
  color: var(--white-color);
  transition: 0.1s;
  font-family: 'Exo 2';
}

.button__icon {
  font-size: var(--regular-fs);
  font-weight: var(--extraLight-fw);
  opacity: 0.7;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/* === SCROLL UP === */
.scrollup {
  position: fixed;
  background: var(--first-color);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.3rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.4s;
}

.scrollup__icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.scrollup:hover {
  background: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/* Login popup */
.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -150px;
  z-index: 120;
  width: 300px;
  height: 320px;
  background: #001029;
  border-radius: 1rem;
  display: none;
}

.login-popup a {
  display: block;
  text-align: center;
  opacity: 0.7;
  transition: 0.3s;
}

.login-popup a:hover {
  opacity: 1;
}

.background-login-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  z-index: 110;
  display: none;
}

.active-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.6rem;
  background: #413e3e;
}

::-webkit-scrollbar-thumb {
  background: #272525;
  border-radius: 0.5rem;
}
